.iframe {
    width: 100%;
    aspect-ratio: 16/9;
    background-color: black;
}

.main {
    padding: 80px 3vw;
    position: fixed;
    width: 100%;
    overflow: auto;
}

.poster_img {
    width: 16vw;
    aspect-ratio: 2/3;
    border-radius: 5px;
}

.title {
    color: white;
    font-size: 4vw;
}

.details {
    padding-left: 15px;
    overflow: auto;
}

@media screen and (max-width:600px) {
    .details {
        padding-left: 0;
    }
}