#auth .main {
    font-family: sans-serif;
    color: whitesmoke;
    height: 100%;
    display: flex;
}



#auth .link {
    color: #030804;
    font-weight: bold;
    text-decoration: none;
}

#auth .my-form {
    width: 30rem;
    margin: auto;
    color: whitesmoke;
    /* backdrop-filter: blur(30px) saturate(180%); */
    /* -webkit-backdrop-filter: blur(16px) saturate(180%); */
    background-color: rgba(3, 3, 3, 0.582);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 25px 25px;
}

#auth .my-form input {
    width: 100%;
    margin: 10px 0;
    border-radius: 8px;
    padding: 10px 18px;
    box-sizing: border-box;
    border: none;
}

#auth .my-form input:focus {
    outline: none;
}

#auth .my-form button {
    background-color: var(--primary);
    color: white;
    padding: 10px 20px;
    border-radius: 9px;
    margin: 10px 0;
    width: 100%;
    font-size: 18px;
    border: none;
}

/* .my-form :hover {
    opacity: 0.6;
    cursor: pointer;
} */

#auth .headingsContainer {
    text-align: center;
}

#auth .headingsContainer p {
    color: gray;
}

#auth .mainContainer {
    padding: 16px;
}

#auth .subcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#auth .subcontainer a {
    font-size: 16px;
    margin-bottom: 12px;
}

#auth .my-form span.forgotpsd a {
    float: right;
    color: whitesmoke;
    padding-top: 16px;
}

#auth .forgotpsd a {
    color: rgb(74, 146, 235);
}

#auth .forgotpsd a:link {
    text-decoration: none;
}

#auth .register {
    color: white;
    text-align: center;
}

#auth .register a {
    color: rgb(74, 146, 235);
}

#auth .register a:link {
    text-decoration: none;
}

/* Media queries for the responsiveness of the page */
@media screen and (max-width: 600px) {
    #auth .my-form {
        width: 25rem;
    }
}

@media screen and (max-width: 400px) {
   #auth .my-form {
        width: 20rem;
        border: none;
        width: 100%;
        height: 100%;
        padding: 30px;
        border-radius: 0;
    }
}